<section>
        <div>
            <img src="<%= book.image %>">
            <h4 id="title"><%= book.title %></h4>
            <h5><%= book.author %></h5>
            <div>
                <p><%= book.description %></p>
            </div>
            <h5>ISBN: <%=book.isbn %></h5>
            <h5>Bookshelf: <%=book.bookshelf %></h5>
        </div>
</section>