<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <%- include('../layout/head') %>
</head>
<body>
    <header>
        <%- include('../layout/header') %>
    </header>
    <main>
        <div id="bookshelf">
            <h2><%=books.rowCount %> SAVED BOOKS</h2>
            <% books.rows.forEach(val=>{ %>
            <div>
                <img src="<%= val.image %>">
                <h4><%= val.title%></h4>
                <h5><%= val.author%></h5>
                <div class="buttonHolder">
                    <a href="/books/<%=val.id%>"><button >View More</button></a>
                </div>
            </div>
            <% }) %>
        </div>
    </main>
    <footer></footer>
</body>
</html>


<!-- Need to added homepage, with link to search. will keep same style as the other pages -->